<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1 class="title">Weclome to the store</h1>
</div>

<div class="ui inverted segment">
    <div id="sectionTitle">
        <h1>Sections</h1>
        <LinkTo class="ui inverted active tiny green icon button" @route="store.sections.add" {{action "scrollToTitle"}}><i class="plus icon"></i></LinkTo>
    </div>


    <button {{action "deleteSection"}}>Show message</button>

    <div id="sectionDeleteMessage"{{action "closeMessage"}}>
        <div  class="ui negative message">
            <i class="close icon" {{action "closeMessage"}}></i>
            <div class="header">Are you sure ?</div>
            <p>If you delete that section, you will also delete all the products related to it !</p>
            <button class="ui red button"><i class="icon trash"></i>Delete</button>
            <button class="ui blue button">Cancel</button>
        </div>
    </div>

    {{outlet}}

    {{#each @model.sections as |section|}}
    <div class="section">
        <div class="sectionHeader">
            <h1>{{section.name}}</h1>
            <div class="ui inverted buttons">
                <button class="ui inverted green button"><i class="icon plus"></i>Add product</button>
                <LinkTo class="ui inverted blue button" @route="store.sections.edit" @model={{section.id}}
                    {{action "scrollToTitle" }} @tagName="button"><i class="icon pencil alternate"></i>Rename</LinkTo>
                <LinkTo class="ui inverted red button" @route="store.sections.delete" @model={{section.id}}
                    @tagName="button"><i class="icon trash"></i>Delete</LinkTo>
            </div>
        </div>
        <div class="sectionBody">
            {{#each section.products as |product|}}
            <figure>
                <img src="/img/{{product.image}}.jpg" alt="Image {{product.image}}, of product {{product.name}}">
                <figcaption>{{product.name}}</figcaption>
            </figure>
            {{/each}}
        </div>
    </div>
    {{/each}}

</div>