{{page-title "Store"}}

<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1>Weclome to the store</h1>
</div>

<div class="ui inverted segment">
    <h3>The sections :</h3>
    {{#each @model.sections as |section|}}
    <div>
        <p>{{section.name}}</p>
        {{#each section.products as |product|}}
        <figure>
            <img src="/img/{{product.image}}.jpg" alt="Image {{product.image}}, of product {{product.name}}" height="200px" width="200px">
            <figcaption>{{product.name}}</figcaption>
        </figure>
        {{/each}}
    </div>
    {{/each}}
</div>