<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1 class="title">Weclome to the store</h1>
</div>

<div class="ui inverted segment">
    <div id="sectionTitle">
        <h1>Sections</h1>
        <LinkTo class="ui inverted tiny green icon button" @route="store.sections.add"><i class="plus icon"></i></LinkTo>
    </div>

    {{outlet}}

    {{#each @model.sections as |section|}}
    <div class="section">
        <div class="sectionHeader">
            <h1>{{section.name}}</h1>
            <div class="ui inverted buttons">
                <button class="ui inverted green button"><i class="icon plus"></i>Add product</button>
                <button class="ui inverted blue button"><i class="icon pencil alternate"></i>Edit</button>
                <button class="ui inverted red button" onclick="window.location.href='sections/delete/{{section.id}}'"><i class="icon trash"></i>Delete</button>
            </div>
        </div>
        <div class="sectionBody">
            {{#each section.products as |product|}}
            <figure>
                <img src="/img/{{product.image}}.jpg" alt="Image {{product.image}}, of product {{product.name}}">
                <figcaption>{{product.name}}</figcaption>
            </figure>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>