{{page-title "Store"}}

<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1 class="title">Weclome to the store</h1>
</div>

<div class="ui inverted segment">
    <h2><u>Sections :</u></h2>
    {{#each @model.sections as |section|}}
    <div class="section">
        <h1>{{section.name}}</h1>
        <div class="sectionflexbox">
            {{#each section.products as |product|}}
            <figure>
                <img src="/img/{{product.image}}.jpg" alt="Image {{product.image}}, of product {{product.name}}">
                <figcaption>{{product.name}}</figcaption>
            </figure>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>