<div id="dhbNestedRoute" class="ui inverted segment">
    <h2>Prepare a command :</h2>
    <div id="dhbPrepare">
        <div class="dbdChild">
            <h3>Commande :</h3>
            <p>Commande nb : {{@model.id}}</p>
            <p>{{@model.amount}} $</p>
            <p>Number of product : {{@model.itemsNumber}}</p>
            <div>
                <LinkTo  class="ui negative button" @route="dashboard.prepare.cancel" @model={{@model.id}}>Cancel</LinkTo >
                <LinkTo  class="ui positive button" @route="dashboard.prepare.prepared" @model={{@model.id}}>Prepared</LinkTo >
            </div>
        </div>
        <div class="dbdChild">
            <h3>Client :</h3>
            <p>Client nb : {{@model.user.id}}</p>
            <p>Name : {{@model.user.name}}</p>
            <p>Email : {{@model.user.email}}</p>
            {{#each @model.orderdetails as |orderdetail|}}
            <p>Detail id: {{orderdetail.id}}</p>
            <p>Product : {{orderdetail.product.name}}</p>
            {{/each}}
        </div>
    </div>
</div>