{{page-title "Dashboard"}}

<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1 id="dashboardTitle">Dashboard</h1>
</div>

<div class="ui inverted segment">
    <h3>Your orders :</h3>
    <div id="dashboardSegments" class="ui segments">
        <div class="ui inverted segment">
            <p>Orders to prepare :</p>
            <ul>
                {{#each @model.ordersCreated as |order|}}
                <li><b>id :</b> {{order.id}}, <b>creation :</b> {{order.dateCreation}}</li>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
        <div class="ui inverted segment">
            <p>Orders to deliver :</p>
            <ul>
                {{#each @model.ordersPrepared as |order|}}
                <li><b>id :</b> {{order.id}}, <b>creation :</b> {{order.dateCreation}}</li>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
        <div class="ui inverted segment">
            <p>Orders completed :</p>
            <ul>
                {{#each @model.ordersDelivered as |order|}}
                <li><b>id :</b> {{order.id}}, <b>creation :</b> {{order.dateCreation}}</li>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
    </div>
</div>