{{page-title "Dashboard"}}

<div id="dashboardTitleSegment" class="ui inverted segment">
    <div id="titleDhb">
        <h1>Dashboard</h1>
    </div>
</div>

<div id="dhbWelcome" class="ui inverted segment">
    <div>
        <h2>Hi {{@model.connected.firstname}}</h2>
        <p>You have <b>{{@model.orders.length}}</b> order(s) left to prepare !</p>
    </div>
    <img id="dhbAvatar" src="/public/img/{{@model.connected.firstname}}.png">
</div>

<div id="dhbOrders" class="ui inverted segment">
    <h2>Orders to prepare :</h2>
    <div class="ui centered cards">
        {{#each @model.orders as |order|}}
        <div class="card" {{action "prepareTransition" order.id}}>
            <div class="content">
                <div class="header">Order : {{order.id}}</div>
                <div class="meta">{{order.amount}} $</div>
                <div class="description">
                    <b>Creation :</b> {{order.dateCreation}}<br>
                    <b>Expiration :</b>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{outlet}}