{{page-title "Dashboard"}}

<div id="dashboardTitleSegment" class="ui inverted segment">
    <h1 class="title">Dashboard</h1>
</div>

<div class="ui inverted segment">
    <h3>Your orders :</h3>
    <div id="dashboardSegments" class="ui segments">
        <div class="ui inverted segment">
            <p>Orders to prepare :</p>
            <ul>
                {{#each @model.ordersCreated as |order|}}
                <li><b>Creation :</b> {{order.dateCreation}}</li>
                <ul>
                    {{#each order.orderdetails as |orderdetail|}}
                    <li><b>Quantity :</b> {{orderdetail.quantity}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
        <div class="ui inverted segment">
            <p>Orders to deliver :</p>
            <ul>
                {{#each @model.ordersPrepared as |order|}}
                <li><b>Creation :</b> {{order.dateCreation}}</li>
                <ul>
                    {{#each order.orderdetails as |orderdetail|}}
                    <li><b>Quantity :</b> {{orderdetail.quantity}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
        <div class="ui inverted segment">
            <p>Orders completed :</p>
            <ul>
                {{#each @model.ordersDelivered as |order|}}
                <li><b>Creation :</b> {{order.dateCreation}}</li>
                <ul>
                    {{#each order.orderdetails as |orderdetail|}}
                    <li><b>Quantity :</b> {{orderdetail.quantity}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </ul>
            {{outlet}}
        </div>
    </div>
</div>