{{page-title "Home"}}
<div class="ui inverted segment">
  <h1>Welcome to the Store project !</h1>
  {{#if @model.employeeLogged}}
  <button class="ui red button" {{action "logout" }}>Logout</button>
  {{else}}
  <p>Log in if you are a employee :</p>
  <form class="ui inline form" {{action "login" @model on="submit" }}>
    <div class="field">
      <Input class="input" type="email" @value={{@model.email}} placeholder="Your email" required />
    </div>
    <div class="field">
      <Input class="input" type="password" @value={{@model.password}} placeholder="Your password" required />
    </div>
    <button class="ui green button" type="submit">Log in</button>
  </form>
  {{/if}}
</div>
{{outlet}}